<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur de paramètres</title>
</head>
<body>
    <h1>Erreur de paramètres</h1>
    <p>Une erreur s'est produite lors de la demande de capture</p>
    <p>Vérifiez la demande</p>
    <li>
        <ul>l'interface ne peut être vide</ul>
        <ul>le nombre de paquets à capturer doit être supérieur à 0</ul>

    </li>
    <a href="{% url 'index' %}" class="btn btn-primary">Retour</a>
</body>
</html>
